NCS-LEAP-DataMovement/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		},
		"CCR_DataProcessingAt10_properties_CCRDataMovement_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@adddays(trigger().scheduledTime, -1)"
		},
		"CCR_DataProcessingAt10_properties_CCRDataMovement_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"LeapFileLoading_At6_properties_LeapDataMovement_WithoutProcessing_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@adddays(trigger().scheduledTime, -1)"
		},
		"LeapFileLoading_At6_properties_LeapDataMovement_WithoutProcessing_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Everyday_properties_LeapDataMovement_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"Everyday_properties_LeapDataMovement_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "tblINITClusterMaster",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "INITClusterID",
											"type": "Int32"
										},
										"sink": {
											"name": "INITClusterID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ClusterName",
											"type": "String"
										},
										"sink": {
											"name": "ClusterName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DateTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateTimeStamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITClusterMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITClusterMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITFileList",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITClusterMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GrpSqnc",
											"type": "Byte"
										},
										"sink": {
											"name": "GrpSqnc",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "GroupName",
											"type": "String"
										},
										"sink": {
											"name": "GroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSqnc",
											"type": "Byte"
										},
										"sink": {
											"name": "FileSqnc",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileTypeID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileTypeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITFileList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITFileList",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDChannelMapping",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelID",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDChannelMapping",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDChannelMapping",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDCodeMaster",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDChannelMapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDCodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDCodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDName",
											"type": "String"
										},
										"sink": {
											"name": "SBDName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EffectiveFrom",
											"type": "Int32"
										},
										"sink": {
											"name": "EffectiveFrom",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "EffectiveTo",
											"type": "Int32"
										},
										"sink": {
											"name": "EffectiveTo",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStamp",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDCodeMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDCodeMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDGroupMaster",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDCodeMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDCodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDCodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDGroupName",
											"type": "String"
										},
										"sink": {
											"name": "SBDGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDGroupMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDGroupMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDSBFList",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDGroupMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgBaseCode",
											"type": "Byte"
										},
										"sink": {
											"name": "flgBaseCode",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDSBFList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDSBFList",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDStoreWiseGaps",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDSBFList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StoreID",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgBaseCode",
											"type": "Byte"
										},
										"sink": {
											"name": "flgBaseCode",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "BranchNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchNodeType",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDStoreWiseGaps",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDStoreWiseGaps",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblStoreMaster_1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDStoreWiseGaps",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StoreID",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TimeStampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int16"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OutstandingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OutstandingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "FileSetIdUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetIdUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetIdTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "FileSetIdTimeStamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String"
										},
										"sink": {
											"name": "CustomerName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address 2",
											"type": "String"
										},
										"sink": {
											"name": "Address 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer Class",
											"type": "String"
										},
										"sink": {
											"name": "Customer Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRCPChannel",
											"type": "String"
										},
										"sink": {
											"name": "DRCPChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer Type",
											"type": "String"
										},
										"sink": {
											"name": "Customer Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town",
											"type": "String"
										},
										"sink": {
											"name": "Town",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town Class",
											"type": "String"
										},
										"sink": {
											"name": "Town Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tin No",
											"type": "String"
										},
										"sink": {
											"name": "Tin No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Drug Licence No",
											"type": "String"
										},
										"sink": {
											"name": "Drug Licence No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GSTIN No",
											"type": "String"
										},
										"sink": {
											"name": "GSTIN No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pan No",
											"type": "String"
										},
										"sink": {
											"name": "Pan No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CoverageType",
											"type": "String"
										},
										"sink": {
											"name": "CoverageType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date Of Birth",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date Of Birth",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Sectorization",
											"type": "String"
										},
										"sink": {
											"name": "Sectorization",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "My_Channel",
											"type": "String"
										},
										"sink": {
											"name": "My_Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dse_Type",
											"type": "String"
										},
										"sink": {
											"name": "Dse_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STL_Code",
											"type": "String"
										},
										"sink": {
											"name": "STL_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Lat",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Lat",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Long",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Long",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark4",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark5",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL No",
											"type": "String"
										},
										"sink": {
											"name": "DL No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark7",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distance in KM",
											"type": "String"
										},
										"sink": {
											"name": "Distance in KM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark10",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pin Code",
											"type": "String"
										},
										"sink": {
											"name": "Pin Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MKT Name",
											"type": "String"
										},
										"sink": {
											"name": "MKT Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSetIdIns",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetIdIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrgStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "OrgStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReplaceStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "ReplaceStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "town_code",
											"type": "String"
										},
										"sink": {
											"name": "town_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "class_code",
											"type": "String"
										},
										"sink": {
											"name": "class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_code",
											"type": "String"
										},
										"sink": {
											"name": "channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "subchannel_code",
											"type": "String"
										},
										"sink": {
											"name": "subchannel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_code",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_name",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "certificate_type",
											"type": "String"
										},
										"sink": {
											"name": "certificate_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_Radius",
											"type": "String"
										},
										"sink": {
											"name": "retailer_Radius",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "SubChannelId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblStoreMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblStoreMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScaleDBAt5_30')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Scaledb",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-06-17T18:03:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadFile-ADLS-To-DB_CCR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LoadFile-ADLS-To-DB",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "/2020/08/10/",
										"type": "Expression"
									},
									"directory": "leap"
								}
							},
							"fieldList": [
								"childItems",
								"lastModified",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "CCCR_Could1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'CCCR_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CCCR_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "/2020/08/10/",
																"type": "Expression"
															},
															"wildcardFileName": "CCCR_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_1",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_2",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "start_time",
																	"type": "String"
																},
																"sink": {
																	"name": "start_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "end_time",
																	"type": "String"
																},
																"sink": {
																	"name": "end_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "intime",
																	"type": "String"
																},
																"sink": {
																	"name": "intime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation_in_meter",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation_in_meter",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason_for_deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "reason_for_deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "on_route",
																	"type": "String"
																},
																"sink": {
																	"name": "on_route",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "remarks",
																	"type": "String"
																},
																"sink": {
																	"name": "remarks",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": "leap",
															"Directory": {
																"value": "/2020/08/10/",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "CCCR_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "CCCR_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CCCR_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'CCCR_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CCCR_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "/2020/08/10/",
																"type": "Expression"
															},
															"wildcardFileName": "CCCR_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_1",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_2",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "start_time",
																	"type": "String"
																},
																"sink": {
																	"name": "start_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "end_time",
																	"type": "String"
																},
																"sink": {
																	"name": "end_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "intime",
																	"type": "String"
																},
																"sink": {
																	"name": "intime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation_in_meter",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation_in_meter",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason_for_deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "reason_for_deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "on_route",
																	"type": "String"
																},
																"sink": {
																	"name": "on_route",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "remarks",
																	"type": "String"
																},
																"sink": {
																	"name": "remarks",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": "leap",
															"Directory": {
																"value": "/2020/08/10/",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "CCCR_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "CCCR_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CCCR_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'CCCR_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CCCR_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "/2020/08/10/",
																"type": "Expression"
															},
															"wildcardFileName": "CCCR_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_1",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_2",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "start_time",
																	"type": "String"
																},
																"sink": {
																	"name": "start_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "end_time",
																	"type": "String"
																},
																"sink": {
																	"name": "end_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "intime",
																	"type": "String"
																},
																"sink": {
																	"name": "intime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation_in_meter",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation_in_meter",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason_for_deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "reason_for_deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "on_route",
																	"type": "String"
																},
																"sink": {
																	"name": "on_route",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "remarks",
																	"type": "String"
																},
																"sink": {
																	"name": "remarks",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": "leap",
															"Directory": {
																"value": "/2020/08/10/",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "CCCR_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ATTNDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpTruncateATTNData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "SpTruncateATTNData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpTruncateAATNData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCRDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpTruncateCCRData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "CCRDataLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpTruncateCCRData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpTruncateCCRData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DBTransfer_DFDB-To-TASDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteBeforeSp",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpExecuteBeforeTransfer]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute Copy DF-To-TAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TruncateTASTempTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copytables-DF-TO-TAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ExecuteAfterSp",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Copy DF-To-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpExecuteAfterTransfer]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TruncateTempTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBeforeSp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTruncateLeapMasterTables]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TruncateTASTempTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateTempTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTruncateTransferTables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataMovement_DF-TO-TAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataMovement_DF-TO-TAS",
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('IFDataTransferCanDone').output.firstRow.flgPngDataTransfer)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecuteBeforeSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteBeforeTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Copy DF-To-TAS",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "TruncateTASTempTables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Copytables-DF-TO-TAS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "ExecuteAfterSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Copy DF-To-TAS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteAfterTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "TruncateTempTables",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteBeforeSp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spTruncateLeapMasterTables]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "TruncateTASTempTables",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "TruncateTempTables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spTruncateTransferTables]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update Transfer Flag",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDFUpdateFlag]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_WithoutLastSpCalled')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "PopulateDSETeleCallingStores",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateDSETeleCallingStores]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_WithoutProcessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "PopulateDSETeleCallingStores",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateDSETeleCallingStores]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spDailyDataRefreshSalesData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDailyDataRefreshSalesData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PopulateDSETeleCallingStores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Scale Down DB",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spOlapProcessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Scale_GP_Gen5_2]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spOlapProcessing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDailyDataRefreshSalesData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spOlapProcessing]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpDailyRefreshSchemeData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDailyRefreshSchemeData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DataMovement_DF_To_TAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataMovement_DF-TO-TAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "CCRDataLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DataMovement_DF_To_TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DFDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "PopulateDSETeleCallingStores",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CCRDataLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateDSETeleCallingStores]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DataMovement_DF-TO-TAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCR_DataProcessingAt10')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CCRDataMovement",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('CCR_DataProcessingAt10_properties_CCRDataMovement_parameters_windowStart')]",
							"windowEnd": "[parameters('CCR_DataProcessingAt10_properties_CCRDataMovement_parameters_windowEnd')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-06-03T16:35:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								40
							],
							"hours": [
								16
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CCRDataMovement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapFileLoading_At6')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LeapDataMovement_WithoutProcessing",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('LeapFileLoading_At6_properties_LeapDataMovement_WithoutProcessing_parameters_windowStart')]",
							"windowEnd": "[parameters('LeapFileLoading_At6_properties_LeapDataMovement_WithoutProcessing_parameters_windowEnd')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-06-07T18:27:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LeapDataMovement_WithoutProcessing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Everyday')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LeapDataMovement",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Everyday_properties_LeapDataMovement_parameters_windowStart')]",
							"windowEnd": "[parameters('Everyday_properties_LeapDataMovement_parameters_windowEnd')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-06-02T01:00:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1,
								9,
								11,
								17
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LeapDataMovement')]"
			]
		}
	]
}