NCS-LEAP-DataMovement/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		},
		"AstixLiveServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AstixLiveServer'"
		},
		"CCRDataStorageLink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CCRDataStorageLink'"
		},
		"Leap_AmazonS3_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'Leap_AmazonS3'"
		},
		"LinkedService_PnGADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LinkedService_PnGADLS'"
		},
		"NCSdataStorageLink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'NCSdataStorageLink'"
		},
		"PnGDataFoundation_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PnGDataFoundation'"
		},
		"TASDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TASDatabase'"
		},
		"TASDatabase_Test_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TASDatabase_Test'"
		},
		"Leap_AmazonS3_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAW6LTDL6KHDJLBDO2"
		},
		"LinkedService_PnGADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pngadls.dfs.core.windows.net"
		},
		"dfdatafoundationLink_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'dfdatafoundationLink'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Send Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Failure EMail",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-20.southeastasia.logic.azure.com:443/workflows/4a7c14454139434fbeceb85285268247/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BvRViYb6NCf7TdrWjRUOZu2PZbKAaIHdpuf40V3za8k",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"@{pipeline().parameters.Subject}\",\n   \"ErrorMessage\": \"@{pipeline().parameters.ErrorMessage}\",\n   \"EmailTo\": \"@{pipeline().parameters.EmailTo}\"\n}\t",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "No Email Set"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "No Subject Set"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "No Message Set"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-28T11:18:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TriggerTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AstixLiveServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AstixLiveServer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCRDataStorageLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('CCRDataStorageLink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Leap_AmazonS3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Leap_AmazonS3",
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "",
					"accessKeyId": "[parameters('Leap_AmazonS3_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('Leap_AmazonS3_secretAccessKey')]"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LinkedService_PnGADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LinkedService_PnGADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LinkedService_PnGADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LinkedService_PnGADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NCSdataStorageLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "NCSdataStorageLink",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('NCSdataStorageLink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PnGDataFoundation')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "PnGDataFoundation",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('PnGDataFoundation_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('TASDatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASDatabase_Test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('TASDatabase_Test_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfdatafoundationLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('dfdatafoundationLink_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scaledb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Scale_V16",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Scale_GP_Gen5_16]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-14T16:14:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TASDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPoputaleCategorInvDateSales]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PnGDataFoundation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Sptest]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send Error Log",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com,avinash.gupta2@gmail.com",
								"Subject": "DataFactory Failure",
								"ErrorMessage": "Error in processing"
							}
						}
					}
				],
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TASDatabase')]",
				"[concat(variables('factoryId'), '/pipelines/Send Notification')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACRV_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_location",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "dse_name",
						"type": "nvarchar"
					},
					{
						"name": "retailer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_no",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_date",
						"type": "nvarchar"
					},
					{
						"name": "aging_days",
						"type": "nvarchar"
					},
					{
						"name": "net_amount",
						"type": "nvarchar"
					},
					{
						"name": "paid_amount",
						"type": "nvarchar"
					},
					{
						"name": "balance_amount",
						"type": "nvarchar"
					},
					{
						"name": "credit_amount",
						"type": "nvarchar"
					},
					{
						"name": "channel_code",
						"type": "nvarchar"
					},
					{
						"name": "channel_name",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "channel_type_name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_ACRV"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TASDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSBinaryDataSource_Container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the folder in the data source store.",
				"linkedServiceName": {
					"referenceName": "LinkedService_PnGADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					}
				},
				"folder": {
					"name": "OtherDataSet"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedService_PnGADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSBinaryDataSource_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the file in the data source store.",
				"linkedServiceName": {
					"referenceName": "LinkedService_PnGADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "OtherDataSet"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedService_PnGADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSBinaryDataSource_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the folder in the data source store.",
				"linkedServiceName": {
					"referenceName": "LinkedService_PnGADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					}
				},
				"folder": {
					"name": "OtherDataSet"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedService_PnGADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSCSVDataSource_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedService_PnGADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "OtherDataSet"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DPSR_cloud01_2020Jun02.csv",
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "document_no",
						"type": "String"
					},
					{
						"name": "apply_to_doc",
						"type": "String"
					},
					{
						"name": "document_date",
						"type": "String"
					},
					{
						"name": "transaction_type",
						"type": "String"
					},
					{
						"name": "subbrandform_name",
						"type": "String"
					},
					{
						"name": "prod_name",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "customer_code",
						"type": "String"
					},
					{
						"name": "channel_description",
						"type": "String"
					},
					{
						"name": "dse",
						"type": "String"
					},
					{
						"name": "pcode",
						"type": "String"
					},
					{
						"name": "customer_type",
						"type": "String"
					},
					{
						"name": "hsn_code",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "brand",
						"type": "String"
					},
					{
						"name": "brandform",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "gross_value",
						"type": "String"
					},
					{
						"name": "discount",
						"type": "String"
					},
					{
						"name": "taxable_scheme",
						"type": "String"
					},
					{
						"name": "cgsttax",
						"type": "String"
					},
					{
						"name": "sgsttax",
						"type": "String"
					},
					{
						"name": "igsttax",
						"type": "String"
					},
					{
						"name": "cesstax",
						"type": "String"
					},
					{
						"name": "mracc_code",
						"type": "String"
					},
					{
						"name": "mracc_desc",
						"type": "String"
					},
					{
						"name": "vendor",
						"type": "String"
					},
					{
						"name": "net_amount",
						"type": "String"
					},
					{
						"name": "tax_on_discount",
						"type": "String"
					},
					{
						"name": "tax_on_scheme",
						"type": "String"
					},
					{
						"name": "tax_in_rlp",
						"type": "String"
					},
					{
						"name": "retailing",
						"type": "String"
					},
					{
						"name": "gross_in_slp",
						"type": "String"
					},
					{
						"name": "po_no",
						"type": "String"
					},
					{
						"name": "dse_code",
						"type": "String"
					},
					{
						"name": "msu",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "dist_gstinno",
						"type": "String"
					},
					{
						"name": "ret_gstinno",
						"type": "String"
					},
					{
						"name": "srn_ref_no",
						"type": "String"
					},
					{
						"name": "composite",
						"type": "String"
					},
					{
						"name": "cgsttax_rate",
						"type": "String"
					},
					{
						"name": "sgsttax_rate",
						"type": "String"
					},
					{
						"name": "igsttax_rate",
						"type": "String"
					},
					{
						"name": "cesstax_rate",
						"type": "String"
					},
					{
						"name": "branch_code",
						"type": "String"
					},
					{
						"name": "branch_name",
						"type": "String"
					},
					{
						"name": "order_mode",
						"type": "String"
					},
					{
						"name": "tc_code",
						"type": "String"
					},
					{
						"name": "tc_name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedService_PnGADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LinkedService_PnGADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "OtherDataSet"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LinkedService_PnGADLS')]"
			]
		}
	]
}