NCS-LEAP-DataMovement/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud3FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud3_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud3FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud3FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud3FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud3FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud3_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud3",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud3_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "NCSdataStorageLink",
												"type": "LinkedServiceReference"
											},
											"path": "log"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copytables-DF-TO-TAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_TmpRawLeapStoreMasterDetails",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String"
										},
										"sink": {
											"name": "CustomerName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String"
										},
										"sink": {
											"name": "Address_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Class",
											"type": "String"
										},
										"sink": {
											"name": "Customer_Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRCPChannel",
											"type": "String"
										},
										"sink": {
											"name": "DRCPChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Type",
											"type": "String"
										},
										"sink": {
											"name": "Customer_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town",
											"type": "String"
										},
										"sink": {
											"name": "Town",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town_Class",
											"type": "String"
										},
										"sink": {
											"name": "Town_Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tin_No",
											"type": "String"
										},
										"sink": {
											"name": "Tin_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Drug_Licence No",
											"type": "String"
										},
										"sink": {
											"name": "Drug_Licence No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GSTIN_No",
											"type": "String"
										},
										"sink": {
											"name": "GSTIN_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pan_No",
											"type": "String"
										},
										"sink": {
											"name": "Pan_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CoverageType",
											"type": "String"
										},
										"sink": {
											"name": "CoverageType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sectorization",
											"type": "String"
										},
										"sink": {
											"name": "Sectorization",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "My_Channel",
											"type": "String"
										},
										"sink": {
											"name": "My_Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dse_Type",
											"type": "String"
										},
										"sink": {
											"name": "Dse_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STL_Code",
											"type": "String"
										},
										"sink": {
											"name": "STL_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Lat",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Lat",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Long",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Long",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark4",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark5",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL_No",
											"type": "String"
										},
										"sink": {
											"name": "DL_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark7",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distance_in_KM",
											"type": "String"
										},
										"sink": {
											"name": "Distance_in_KM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark10",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pin_Code",
											"type": "String"
										},
										"sink": {
											"name": "Pin_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MKT_Name",
											"type": "String"
										},
										"sink": {
											"name": "MKT_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrgStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "OrgStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReplaceStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "ReplaceStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "town_code",
											"type": "String"
										},
										"sink": {
											"name": "town_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "class_code",
											"type": "String"
										},
										"sink": {
											"name": "class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_code",
											"type": "String"
										},
										"sink": {
											"name": "channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "subchannel_code",
											"type": "String"
										},
										"sink": {
											"name": "subchannel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_code",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_name",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "certificate_type",
											"type": "String"
										},
										"sink": {
											"name": "certificate_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_Radius",
											"type": "String"
										},
										"sink": {
											"name": "retailer_Radius",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_TmpRawLeapStoreMasterDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_TmpRawLeapStoreMasterDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_TmpRawLeapOutstandingAmtData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_TmpRawLeapStoreMasterDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_TmpRawLeapOutstandingAmtData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_TmpRawLeapOutstandingAmtData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_tblP3MBranchSalesDetail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_TmpRawLeapOutstandingAmtData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TC_Name",
											"type": "String"
										},
										"sink": {
											"name": "TC_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECode",
											"type": "String"
										},
										"sink": {
											"name": "DSECode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustCode",
											"type": "String"
										},
										"sink": {
											"name": "CustCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBF",
											"type": "String"
										},
										"sink": {
											"name": "SBF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvNo",
											"type": "String"
										},
										"sink": {
											"name": "InvNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "Int32"
										},
										"sink": {
											"name": "Qty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "GrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UPC",
											"type": "Int32"
										},
										"sink": {
											"name": "UPC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetQty",
											"type": "Int32"
										},
										"sink": {
											"name": "RetQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvQty",
											"type": "Int32"
										},
										"sink": {
											"name": "InvQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "InvNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvId",
											"type": "Int32"
										},
										"sink": {
											"name": "InvId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_tblP3MBranchSalesDetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_tmpRawDataP3MBranchSalesDetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_tblP3MSUBDSalesDetail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_tblP3MBranchSalesDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUBDCode",
											"type": "String"
										},
										"sink": {
											"name": "SUBDCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECode",
											"type": "String"
										},
										"sink": {
											"name": "DSECode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustCode",
											"type": "String"
										},
										"sink": {
											"name": "CustCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBF",
											"type": "String"
										},
										"sink": {
											"name": "SBF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvNo",
											"type": "String"
										},
										"sink": {
											"name": "InvNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "Int32"
										},
										"sink": {
											"name": "Qty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "GrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UPC",
											"type": "Int32"
										},
										"sink": {
											"name": "UPC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetQty",
											"type": "Int32"
										},
										"sink": {
											"name": "RetQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvQty",
											"type": "Int32"
										},
										"sink": {
											"name": "InvQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "InvNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvId",
											"type": "Int32"
										},
										"sink": {
											"name": "InvId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_tblP3MSUBDSalesDetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_tmpRawDataP3MSUBDSalesDetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyS3-To-Staging_Cloud3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataMovement_DF-TO-TAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataMovement_DF-TO-TAS",
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('IFDataTransferCanDone').output.firstRow.tblFlagDataProcess)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecuteBeforeSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteBeforeTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Copy DF-To-TAS",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ExecuteBeforeSp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Copytables-DF-TO-TAS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "ExecuteAfterSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Copy DF-To-TAS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteAfterTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DFDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DFDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copytables-DF-TO-TAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "NCSdataStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "DataMovement_DF_To_TAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataMovement_DF-TO-TAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DataMovement_DF-TO-TAS')]",
				"[concat(variables('factoryId'), '/pipelines/CopyS3-To-Staging_Cloud3')]"
			]
		}
	]
}