NCS-LEAP-DataMovement/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RETAILER_SUBD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTNAME",
						"type": "varchar"
					},
					{
						"name": "CHANNEL",
						"type": "varchar"
					},
					{
						"name": "DSE",
						"type": "varchar"
					},
					{
						"name": "CUSTTYPE",
						"type": "varchar"
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_RETAILER_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RETAIL_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTNAME",
						"type": "varchar"
					},
					{
						"name": "CHANNEL",
						"type": "varchar"
					},
					{
						"name": "DSE",
						"type": "varchar"
					},
					{
						"name": "CUSTTYPE",
						"type": "varchar"
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_RETAILER_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTRM_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_location",
						"type": "nvarchar"
					},
					{
						"name": "retailer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_name",
						"type": "nvarchar"
					},
					{
						"name": "address_1",
						"type": "nvarchar"
					},
					{
						"name": "address_2",
						"type": "nvarchar"
					},
					{
						"name": "pin_number",
						"type": "nvarchar"
					},
					{
						"name": "area_code",
						"type": "nvarchar"
					},
					{
						"name": "area",
						"type": "nvarchar"
					},
					{
						"name": "town_code",
						"type": "nvarchar"
					},
					{
						"name": "town",
						"type": "nvarchar"
					},
					{
						"name": "town_class",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "mobile_number",
						"type": "nvarchar"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "contact_person",
						"type": "nvarchar"
					},
					{
						"name": "stl_name",
						"type": "nvarchar"
					},
					{
						"name": "dse_name",
						"type": "nvarchar"
					},
					{
						"name": "frequency",
						"type": "nvarchar"
					},
					{
						"name": "distance",
						"type": "nvarchar"
					},
					{
						"name": "class_code",
						"type": "nvarchar"
					},
					{
						"name": "class",
						"type": "nvarchar"
					},
					{
						"name": "channel_code",
						"type": "nvarchar"
					},
					{
						"name": "channel",
						"type": "nvarchar"
					},
					{
						"name": "subchannel_code",
						"type": "nvarchar"
					},
					{
						"name": "subchannel",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_code",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_name",
						"type": "nvarchar"
					},
					{
						"name": "credit_limit",
						"type": "nvarchar"
					},
					{
						"name": "credit_period",
						"type": "nvarchar"
					},
					{
						"name": "invoice_limit",
						"type": "nvarchar"
					},
					{
						"name": "certificate_type",
						"type": "nvarchar"
					},
					{
						"name": "gst_number",
						"type": "nvarchar"
					},
					{
						"name": "pan_no",
						"type": "nvarchar"
					},
					{
						"name": "dl_number",
						"type": "nvarchar"
					},
					{
						"name": "dl_expiry_date",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "dob",
						"type": "nvarchar"
					},
					{
						"name": "doa",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "default_warehouse_code",
						"type": "nvarchar"
					},
					{
						"name": "default_warehouse",
						"type": "nvarchar"
					},
					{
						"name": "restricted_orderswap_status",
						"type": "nvarchar"
					},
					{
						"name": "lattitude",
						"type": "nvarchar"
					},
					{
						"name": "longitude",
						"type": "nvarchar"
					},
					{
						"name": "retailer_radius",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_RTRM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud1_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud1",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud1_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud1"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud2_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud2",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud2_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud2"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud3_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud3",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud3_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud3"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SALES_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "INVDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROSSAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INVREF",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "flgProcess",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SALES_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SALES_SUBD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "INVDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROSSAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INVREF",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TimeStamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SALES_SUBD_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRN_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "SRNNO",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "SRNDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "GROSSINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXES",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "flgProcess",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SRN_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRN_SUBD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "SRNNO",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "SRNDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "GROSSINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXES",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SRN_SUBD_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASDBConnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tblRTDXAugSale')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "SRNNO",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "SRNDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "GROSSINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXES",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "flgProcess",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblRTDXAugSale"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tmpRTDXSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "SRNNO",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "SRNDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "GROSSINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXES",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "flgProcess",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRTDXSales"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_dfdatafoundation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the destination store.",
				"linkedServiceName": {
					"referenceName": "dfdatafoundationLink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@{dataset().Directory}",
							"type": "Expression"
						},
						"container": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSBinaryDataSource_Container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the folder in the data source store.",
				"linkedServiceName": {
					"referenceName": "LinkedService_PnGADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@{dataset().Container}",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyLeapStaging-To-ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"preserve": [
								"Attributes"
							],
							"skipErrorFile": {
								"fileMissing": true
							},
							"validateDataConsistency": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@concat('/', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
										"type": "Expression"
									},
									"directory": "leap"
								}
							}
						]
					},
					{
						"name": "CopyLeapStaging-To-CCR",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "CCCR_*",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"preserve": [
								"Attributes"
							],
							"skipErrorFile": {
								"fileMissing": true
							},
							"validateDataConsistency": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CCRDataStorageDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyDRCPData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "DRCP_*",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"preserve": [
								"Attributes"
							],
							"skipErrorFile": {
								"fileMissing": true
							},
							"validateDataConsistency": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CCRDataStorageDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyLeap_Staging-To-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy file data from Staging to DB",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"lastModified",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "SpFileEntry",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpFileEntry]",
										"storedProcedureParameters": {
											"Filename": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileType": {
												"value": "1",
												"type": "Byte"
											},
											"LastModifiedDatetime": {
												"value": {
													"value": "@activity('GetFileList').output.lastModified",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ATTN_Could1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SpFileEntry",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'ATTN_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "ATTN_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "ATTN_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 0,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "desename",
																	"type": "String"
																},
																"sink": {
																	"name": "desename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "attendance",
																	"type": "String"
																},
																"sink": {
																	"name": "attendance",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "attendance_timestamp",
																	"type": "String"
																},
																"sink": {
																	"name": "attendance_timestamp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "generated_at",
																	"type": "String"
																},
																"sink": {
																	"name": "generated_at",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ATTN_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "ATTN_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "ATTN_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'ATTN_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "ATTN_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "ATTN_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 0,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "user_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "user_name",
																	"type": "String"
																},
																"sink": {
																	"name": "desename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "attendance",
																	"type": "String"
																},
																"sink": {
																	"name": "attendance",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "attendance_timestamp",
																	"type": "String"
																},
																"sink": {
																	"name": "attendance_timestamp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "generated_at",
																	"type": "String"
																},
																"sink": {
																	"name": "generated_at",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ATTN_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "ATTN_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "ATTN_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'ATTN_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "ATTN_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "ATTN_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "desename",
																	"type": "String"
																},
																"sink": {
																	"name": "desename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "attendance",
																	"type": "String"
																},
																"sink": {
																	"name": "attendance",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "attendance_timestamp",
																	"type": "String"
																},
																"sink": {
																	"name": "attendance_timestamp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "generated_at",
																	"type": "String"
																},
																"sink": {
																	"name": "generated_at",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ATTN_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "BSBF_Could1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "ATTN_Could3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'BSBF_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "BSBF_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "BSBF_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbfname",
																	"type": "String"
																},
																"sink": {
																	"name": "subbfname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "BSBF_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "BSBF_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "BSBF_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'BSBF_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "BSBF_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "BSBF_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbfname",
																	"type": "String"
																},
																"sink": {
																	"name": "subbfname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "BSBF_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "BSBF_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "BSBF_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'BSBF_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "BSBF_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "BSBF_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbfname",
																	"type": "String"
																},
																"sink": {
																	"name": "subbfname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "BSBF_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "CCCR_Could1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "BSBF_Could3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'CCCR_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CCCR_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "CCCR_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_1",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_2",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "start_time",
																	"type": "String"
																},
																"sink": {
																	"name": "start_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "end_time",
																	"type": "String"
																},
																"sink": {
																	"name": "end_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "intime",
																	"type": "String"
																},
																"sink": {
																	"name": "intime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation_in_meter",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation_in_meter",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason_for_deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "reason_for_deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "on_route",
																	"type": "String"
																},
																"sink": {
																	"name": "on_route",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "remarks",
																	"type": "String"
																},
																"sink": {
																	"name": "remarks",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "CCCR_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "CCCR_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CCCR_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'CCCR_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CCCR_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "CCCR_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_1",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_2",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "start_time",
																	"type": "String"
																},
																"sink": {
																	"name": "start_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "end_time",
																	"type": "String"
																},
																"sink": {
																	"name": "end_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "intime",
																	"type": "String"
																},
																"sink": {
																	"name": "intime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation_in_meter",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation_in_meter",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason_for_deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "reason_for_deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "on_route",
																	"type": "String"
																},
																"sink": {
																	"name": "on_route",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "remarks",
																	"type": "String"
																},
																"sink": {
																	"name": "remarks",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "CCCR_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "CCCR_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CCCR_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'CCCR_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CCCR_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "CCCR_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "date",
																	"type": "String"
																},
																"sink": {
																	"name": "date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "route_name",
																	"type": "String"
																},
																"sink": {
																	"name": "route_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_1",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_number_2",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_number_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sub_channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sub_channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "start_time",
																	"type": "String"
																},
																"sink": {
																	"name": "start_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "end_time",
																	"type": "String"
																},
																"sink": {
																	"name": "end_time",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "intime",
																	"type": "String"
																},
																"sink": {
																	"name": "intime",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_value",
																	"type": "String"
																},
																"sink": {
																	"name": "order_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "productivity",
																	"type": "String"
																},
																"sink": {
																	"name": "productivity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation_in_meter",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation_in_meter",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason_for_deviation",
																	"type": "String"
																},
																"sink": {
																	"name": "reason_for_deviation",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "on_route",
																	"type": "String"
																},
																"sink": {
																	"name": "on_route",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "remarks",
																	"type": "String"
																},
																"sink": {
																	"name": "remarks",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "CCCR_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "RTRM_Could1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CCCR_Could3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'RTRM_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "RTRM_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "RTRM_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "address_1",
																	"type": "String"
																},
																"sink": {
																	"name": "address_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "address_2",
																	"type": "String"
																},
																"sink": {
																	"name": "address_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "pin_number",
																	"type": "String"
																},
																"sink": {
																	"name": "pin_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "area_code",
																	"type": "String"
																},
																"sink": {
																	"name": "area_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "area",
																	"type": "String"
																},
																"sink": {
																	"name": "area",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town_code",
																	"type": "String"
																},
																"sink": {
																	"name": "town_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town",
																	"type": "String"
																},
																"sink": {
																	"name": "town",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town_class",
																	"type": "String"
																},
																"sink": {
																	"name": "town_class",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "city",
																	"type": "String"
																},
																"sink": {
																	"name": "city",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "state",
																	"type": "String"
																},
																"sink": {
																	"name": "state",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mobile_number",
																	"type": "String"
																},
																"sink": {
																	"name": "mobile_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "phone_number",
																	"type": "String"
																},
																"sink": {
																	"name": "phone_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_person",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_person",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stl_name",
																	"type": "String"
																},
																"sink": {
																	"name": "stl_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "frequency",
																	"type": "String"
																},
																"sink": {
																	"name": "frequency",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distance",
																	"type": "String"
																},
																"sink": {
																	"name": "distance",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "class_code",
																	"type": "String"
																},
																"sink": {
																	"name": "class_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "class",
																	"type": "String"
																},
																"sink": {
																	"name": "class",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subchannel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "subchannel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subchannel",
																	"type": "String"
																},
																"sink": {
																	"name": "subchannel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_code",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_limit",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_limit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_period",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_period",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoice_limit",
																	"type": "String"
																},
																"sink": {
																	"name": "invoice_limit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "certificate_type",
																	"type": "String"
																},
																"sink": {
																	"name": "certificate_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "gst_number",
																	"type": "String"
																},
																"sink": {
																	"name": "gst_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "pan_no",
																	"type": "String"
																},
																"sink": {
																	"name": "pan_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dl_number",
																	"type": "String"
																},
																"sink": {
																	"name": "dl_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dl_expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "dl_expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "email",
																	"type": "String"
																},
																"sink": {
																	"name": "email",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dob",
																	"type": "String"
																},
																"sink": {
																	"name": "dob",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "doa",
																	"type": "String"
																},
																"sink": {
																	"name": "doa",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "default_warehouse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "default_warehouse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "default_warehouse",
																	"type": "String"
																},
																"sink": {
																	"name": "default_warehouse",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "restricted_orderswap_status",
																	"type": "String"
																},
																"sink": {
																	"name": "restricted_orderswap_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "lattitude",
																	"type": "String"
																},
																"sink": {
																	"name": "lattitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_radius",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_radius",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "RTRM_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "RTRM_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "RTRM_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'RTRM_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "RTRM_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "RTRM_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "address_1",
																	"type": "String"
																},
																"sink": {
																	"name": "address_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "address_2",
																	"type": "String"
																},
																"sink": {
																	"name": "address_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "pin_number",
																	"type": "String"
																},
																"sink": {
																	"name": "pin_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "area_code",
																	"type": "String"
																},
																"sink": {
																	"name": "area_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "area",
																	"type": "String"
																},
																"sink": {
																	"name": "area",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town_code",
																	"type": "String"
																},
																"sink": {
																	"name": "town_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town",
																	"type": "String"
																},
																"sink": {
																	"name": "town",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town_class",
																	"type": "String"
																},
																"sink": {
																	"name": "town_class",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "city",
																	"type": "String"
																},
																"sink": {
																	"name": "city",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "state",
																	"type": "String"
																},
																"sink": {
																	"name": "state",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mobile_number",
																	"type": "String"
																},
																"sink": {
																	"name": "mobile_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "phone_number",
																	"type": "String"
																},
																"sink": {
																	"name": "phone_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_person",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_person",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stl_name",
																	"type": "String"
																},
																"sink": {
																	"name": "stl_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "frequency",
																	"type": "String"
																},
																"sink": {
																	"name": "frequency",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distance",
																	"type": "String"
																},
																"sink": {
																	"name": "distance",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "class_code",
																	"type": "String"
																},
																"sink": {
																	"name": "class_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "class",
																	"type": "String"
																},
																"sink": {
																	"name": "class",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subchannel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "subchannel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subchannel",
																	"type": "String"
																},
																"sink": {
																	"name": "subchannel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_code",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_limit",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_limit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_period",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_period",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoice_limit",
																	"type": "String"
																},
																"sink": {
																	"name": "invoice_limit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "certificate_type",
																	"type": "String"
																},
																"sink": {
																	"name": "certificate_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "gst_number",
																	"type": "String"
																},
																"sink": {
																	"name": "gst_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "pan_no",
																	"type": "String"
																},
																"sink": {
																	"name": "pan_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dl_number",
																	"type": "String"
																},
																"sink": {
																	"name": "dl_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dl_expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "dl_expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "email",
																	"type": "String"
																},
																"sink": {
																	"name": "email",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dob",
																	"type": "String"
																},
																"sink": {
																	"name": "dob",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "doa",
																	"type": "String"
																},
																"sink": {
																	"name": "doa",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "default_warehouse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "default_warehouse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "default_warehouse",
																	"type": "String"
																},
																"sink": {
																	"name": "default_warehouse",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "restricted_orderswap_status",
																	"type": "String"
																},
																"sink": {
																	"name": "restricted_orderswap_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "lattitude",
																	"type": "String"
																},
																"sink": {
																	"name": "lattitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_radius",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_radius",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "RTRM_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "RTRM_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "RTRM_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'RTRM_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "RTRM_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "RTRM_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_location",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_location",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "address_1",
																	"type": "String"
																},
																"sink": {
																	"name": "address_1",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "address_2",
																	"type": "String"
																},
																"sink": {
																	"name": "address_2",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "pin_number",
																	"type": "String"
																},
																"sink": {
																	"name": "pin_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "area_code",
																	"type": "String"
																},
																"sink": {
																	"name": "area_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "area",
																	"type": "String"
																},
																"sink": {
																	"name": "area",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town_code",
																	"type": "String"
																},
																"sink": {
																	"name": "town_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town",
																	"type": "String"
																},
																"sink": {
																	"name": "town",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "town_class",
																	"type": "String"
																},
																"sink": {
																	"name": "town_class",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "city",
																	"type": "String"
																},
																"sink": {
																	"name": "city",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "state",
																	"type": "String"
																},
																"sink": {
																	"name": "state",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mobile_number",
																	"type": "String"
																},
																"sink": {
																	"name": "mobile_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "phone_number",
																	"type": "String"
																},
																"sink": {
																	"name": "phone_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "contact_person",
																	"type": "String"
																},
																"sink": {
																	"name": "contact_person",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stl_name",
																	"type": "String"
																},
																"sink": {
																	"name": "stl_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_name",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "frequency",
																	"type": "String"
																},
																"sink": {
																	"name": "frequency",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distance",
																	"type": "String"
																},
																"sink": {
																	"name": "distance",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "class_code",
																	"type": "String"
																},
																"sink": {
																	"name": "class_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "class",
																	"type": "String"
																},
																"sink": {
																	"name": "class",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subchannel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "subchannel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subchannel",
																	"type": "String"
																},
																"sink": {
																	"name": "subchannel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_code",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mr_account_name",
																	"type": "String"
																},
																"sink": {
																	"name": "mr_account_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_limit",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_limit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "credit_period",
																	"type": "String"
																},
																"sink": {
																	"name": "credit_period",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "invoice_limit",
																	"type": "String"
																},
																"sink": {
																	"name": "invoice_limit",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "certificate_type",
																	"type": "String"
																},
																"sink": {
																	"name": "certificate_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "gst_number",
																	"type": "String"
																},
																"sink": {
																	"name": "gst_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "pan_no",
																	"type": "String"
																},
																"sink": {
																	"name": "pan_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dl_number",
																	"type": "String"
																},
																"sink": {
																	"name": "dl_number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dl_expiry_date",
																	"type": "String"
																},
																"sink": {
																	"name": "dl_expiry_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "email",
																	"type": "String"
																},
																"sink": {
																	"name": "email",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dob",
																	"type": "String"
																},
																"sink": {
																	"name": "dob",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "doa",
																	"type": "String"
																},
																"sink": {
																	"name": "doa",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "status",
																	"type": "String"
																},
																"sink": {
																	"name": "status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "default_warehouse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "default_warehouse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "default_warehouse",
																	"type": "String"
																},
																"sink": {
																	"name": "default_warehouse",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "restricted_orderswap_status",
																	"type": "String"
																},
																"sink": {
																	"name": "restricted_orderswap_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "lattitude",
																	"type": "String"
																},
																"sink": {
																	"name": "lattitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_radius",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_radius",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "RTRM_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "LOCM_Could1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "RTRM_Could3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'LOCM_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "LOCM_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "LOCM_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "country_code",
																	"type": "String"
																},
																"sink": {
																	"name": "country_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "country_name",
																	"type": "String"
																},
																"sink": {
																	"name": "country_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "division_name",
																	"type": "String"
																},
																"sink": {
																	"name": "division_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "region_code",
																	"type": "String"
																},
																"sink": {
																	"name": "region_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "region_name",
																	"type": "String"
																},
																"sink": {
																	"name": "region_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "site_code",
																	"type": "String"
																},
																"sink": {
																	"name": "site_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "site_name",
																	"type": "String"
																},
																"sink": {
																	"name": "site_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "LOCM_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "LOCM_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LOCM_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'LOCM_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "LOCM_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "LOCM_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "country_code",
																	"type": "String"
																},
																"sink": {
																	"name": "country_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "country_name",
																	"type": "String"
																},
																"sink": {
																	"name": "country_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "division_name",
																	"type": "String"
																},
																"sink": {
																	"name": "division_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "region_code",
																	"type": "String"
																},
																"sink": {
																	"name": "region_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "region_name",
																	"type": "String"
																},
																"sink": {
																	"name": "region_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "site_code",
																	"type": "String"
																},
																"sink": {
																	"name": "site_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "site_name",
																	"type": "String"
																},
																"sink": {
																	"name": "site_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "LOCM_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								},
								{
									"name": "LOCM_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LOCM_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'LOCM_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "LOCM_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "LOCM_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "country_code",
																	"type": "String"
																},
																"sink": {
																	"name": "country_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "country_name",
																	"type": "String"
																},
																"sink": {
																	"name": "country_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "division_name",
																	"type": "String"
																},
																"sink": {
																	"name": "division_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "region_code",
																	"type": "String"
																},
																"sink": {
																	"name": "region_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "region_name",
																	"type": "String"
																},
																"sink": {
																	"name": "region_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "site_code",
																	"type": "String"
																},
																"sink": {
																	"name": "site_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "site_name",
																	"type": "String"
																},
																"sink": {
																	"name": "site_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "LeapCSV_Staging",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "LOCM_table",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"SourceStore_Location": {
						"type": "String"
					},
					"SourceStore_Directory": {
						"type": "String"
					},
					"DestinationStore_Location": {
						"type": "String"
					},
					"DestinationStore_Directory": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RTRM_table')]"
			]
		}
	]
}