NCS-LEAP-DataMovement/PartialArmTemplates/ArmTemplate_6_20_2020_12_50_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadFile-ADLS-To-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LoadFile-ADLS-To-DB",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@concat('/', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
										"type": "Expression"
									},
									"directory": "leap"
								}
							},
							"fieldList": [
								"childItems",
								"lastModified",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "DPSR_Could3",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'DPSR_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "DPSR_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "/2020/06/18/",
																"type": "Expression"
															},
															"wildcardFileName": "DPSR_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "document_no",
																	"type": "String"
																},
																"sink": {
																	"name": "document_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "apply_to_doc",
																	"type": "String"
																},
																"sink": {
																	"name": "apply_to_doc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "document_date",
																	"type": "String"
																},
																"sink": {
																	"name": "document_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "transaction_type",
																	"type": "String"
																},
																"sink": {
																	"name": "transaction_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "subbrandform_name",
																	"type": "String"
																},
																"sink": {
																	"name": "subbrandform_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "prod_name",
																	"type": "String"
																},
																"sink": {
																	"name": "prod_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "customer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "customer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "customer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "customer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_description",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_description",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse",
																	"type": "String"
																},
																"sink": {
																	"name": "dse",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "pcode",
																	"type": "String"
																},
																"sink": {
																	"name": "pcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "customer_type",
																	"type": "String"
																},
																"sink": {
																	"name": "customer_type",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "hsn_code",
																	"type": "String"
																},
																"sink": {
																	"name": "hsn_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "category",
																	"type": "String"
																},
																"sink": {
																	"name": "category",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brand",
																	"type": "String"
																},
																"sink": {
																	"name": "brand",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "brandform",
																	"type": "String"
																},
																"sink": {
																	"name": "brandform",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "quantity",
																	"type": "String"
																},
																"sink": {
																	"name": "quantity",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "gross_value",
																	"type": "String"
																},
																"sink": {
																	"name": "gross_value",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "discount",
																	"type": "String"
																},
																"sink": {
																	"name": "discount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "taxable_scheme",
																	"type": "String"
																},
																"sink": {
																	"name": "taxable_scheme",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cgsttax",
																	"type": "String"
																},
																"sink": {
																	"name": "cgsttax",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sgsttax",
																	"type": "String"
																},
																"sink": {
																	"name": "sgsttax",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "igsttax",
																	"type": "String"
																},
																"sink": {
																	"name": "igsttax",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cesstax",
																	"type": "String"
																},
																"sink": {
																	"name": "cesstax",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mracc_code",
																	"type": "String"
																},
																"sink": {
																	"name": "mracc_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "mracc_desc",
																	"type": "String"
																},
																"sink": {
																	"name": "mracc_desc",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "vendor",
																	"type": "String"
																},
																"sink": {
																	"name": "vendor",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "net_amount",
																	"type": "String"
																},
																"sink": {
																	"name": "net_amount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tax_on_discount",
																	"type": "String"
																},
																"sink": {
																	"name": "tax_on_discount",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tax_on_scheme",
																	"type": "String"
																},
																"sink": {
																	"name": "tax_on_scheme",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tax_in_rlp",
																	"type": "String"
																},
																"sink": {
																	"name": "tax_in_rlp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailing",
																	"type": "String"
																},
																"sink": {
																	"name": "retailing",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "gross_in_slp",
																	"type": "String"
																},
																"sink": {
																	"name": "gross_in_slp",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "po_no",
																	"type": "String"
																},
																"sink": {
																	"name": "po_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dse_code",
																	"type": "String"
																},
																"sink": {
																	"name": "dse_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "msu",
																	"type": "String"
																},
																"sink": {
																	"name": "msu",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "reason",
																	"type": "String"
																},
																"sink": {
																	"name": "reason",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dist_gstinno",
																	"type": "String"
																},
																"sink": {
																	"name": "dist_gstinno",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ret_gstinno",
																	"type": "String"
																},
																"sink": {
																	"name": "ret_gstinno",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "srn_ref_no",
																	"type": "String"
																},
																"sink": {
																	"name": "srn_ref_no",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "composite",
																	"type": "String"
																},
																"sink": {
																	"name": "composite",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cgsttax_rate",
																	"type": "String"
																},
																"sink": {
																	"name": "cgsttax_rate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sgsttax_rate",
																	"type": "String"
																},
																"sink": {
																	"name": "sgsttax_rate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "igsttax_rate",
																	"type": "String"
																},
																"sink": {
																	"name": "igsttax_rate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "cesstax_rate",
																	"type": "String"
																},
																"sink": {
																	"name": "cesstax_rate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_code",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branch_name",
																	"type": "String"
																},
																"sink": {
																	"name": "branch_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "order_mode",
																	"type": "String"
																},
																"sink": {
																	"name": "order_mode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_code",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "tc_name",
																	"type": "String"
																},
																"sink": {
																	"name": "tc_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": "leap",
															"Directory": {
																"value": "/2020/06/18/",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TAS_tmpLeapDataLoadDPSR",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_TAS_tmpLeapDataLoadDPSR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TAS_tmpLeapDataLoadDPSR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "document_no",
						"type": "nvarchar"
					},
					{
						"name": "apply_to_doc",
						"type": "nvarchar"
					},
					{
						"name": "document_date",
						"type": "nvarchar"
					},
					{
						"name": "transaction_type",
						"type": "nvarchar"
					},
					{
						"name": "subbrandform_name",
						"type": "nvarchar"
					},
					{
						"name": "prod_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_code",
						"type": "nvarchar"
					},
					{
						"name": "channel_description",
						"type": "nvarchar"
					},
					{
						"name": "dse",
						"type": "nvarchar"
					},
					{
						"name": "pcode",
						"type": "nvarchar"
					},
					{
						"name": "customer_type",
						"type": "nvarchar"
					},
					{
						"name": "hsn_code",
						"type": "nvarchar"
					},
					{
						"name": "category",
						"type": "nvarchar"
					},
					{
						"name": "brand",
						"type": "nvarchar"
					},
					{
						"name": "brandform",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "nvarchar"
					},
					{
						"name": "gross_value",
						"type": "nvarchar"
					},
					{
						"name": "discount",
						"type": "nvarchar"
					},
					{
						"name": "taxable_scheme",
						"type": "nvarchar"
					},
					{
						"name": "cgsttax",
						"type": "nvarchar"
					},
					{
						"name": "sgsttax",
						"type": "nvarchar"
					},
					{
						"name": "igsttax",
						"type": "nvarchar"
					},
					{
						"name": "cesstax",
						"type": "nvarchar"
					},
					{
						"name": "mracc_code",
						"type": "nvarchar"
					},
					{
						"name": "mracc_desc",
						"type": "nvarchar"
					},
					{
						"name": "vendor",
						"type": "nvarchar"
					},
					{
						"name": "net_amount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_discount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_scheme",
						"type": "nvarchar"
					},
					{
						"name": "tax_in_rlp",
						"type": "nvarchar"
					},
					{
						"name": "retailing",
						"type": "nvarchar"
					},
					{
						"name": "gross_in_slp",
						"type": "nvarchar"
					},
					{
						"name": "po_no",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "msu",
						"type": "nvarchar"
					},
					{
						"name": "reason",
						"type": "nvarchar"
					},
					{
						"name": "dist_gstinno",
						"type": "nvarchar"
					},
					{
						"name": "ret_gstinno",
						"type": "nvarchar"
					},
					{
						"name": "srn_ref_no",
						"type": "nvarchar"
					},
					{
						"name": "composite",
						"type": "nvarchar"
					},
					{
						"name": "cgsttax_rate",
						"type": "nvarchar"
					},
					{
						"name": "sgsttax_rate",
						"type": "nvarchar"
					},
					{
						"name": "igsttax_rate",
						"type": "nvarchar"
					},
					{
						"name": "cesstax_rate",
						"type": "nvarchar"
					},
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_name",
						"type": "nvarchar"
					},
					{
						"name": "order_mode",
						"type": "nvarchar"
					},
					{
						"name": "tc_code",
						"type": "nvarchar"
					},
					{
						"name": "tc_name",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_DPSR"
				}
			},
			"dependsOn": []
		}
	]
}