NCS-LEAP-DataMovement/PartialArmTemplates/ArmTemplate_6_30_2020_11_49_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadFile-ADLS-To-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LoadFile-ADLS-To-DB",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "/2020/06/30/",
										"type": "Expression"
									},
									"directory": "leap"
								}
							},
							"fieldList": [
								"childItems",
								"lastModified",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "COHGAP_Could1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'COHGAP_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "COHGAP_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "/2020/06/30/",
																"type": "Expression"
															},
															"wildcardFileName": "COHGAP_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "coh_date",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sector_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sector_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_code",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_name",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_name",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement_status",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "calculation_rule",
																	"type": "String"
																},
																"sink": {
																	"name": "calculation_rule",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_detail",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_detail",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "withsale",
																	"type": "String"
																},
																"sink": {
																	"name": "withsale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "nosale",
																	"type": "String"
																},
																"sink": {
																	"name": "nosale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": "leap",
															"Directory": {
																"value": "/2020/06/30/",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "COHGAP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								},
								{
									"name": "COHGAP_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "COHGAP_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'COHGAP_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "COHGAP_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "/2020/06/30/",
																"type": "Expression"
															},
															"wildcardFileName": "COHGAP_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "coh_date",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sector_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sector_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_code",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_name",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_name",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement_status",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "calculation_rule",
																	"type": "String"
																},
																"sink": {
																	"name": "calculation_rule",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_detail",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_detail",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "withsale",
																	"type": "String"
																},
																"sink": {
																	"name": "withsale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "nosale",
																	"type": "String"
																},
																"sink": {
																	"name": "nosale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": "leap",
															"Directory": {
																"value": "/2020/06/30/",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "COHGAP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								},
								{
									"name": "COHGAP_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "COHGAP_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'COHGAP_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "COHGAP_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "/2020/06/30/",
																"type": "Expression"
															},
															"wildcardFileName": "COHGAP_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "coh_date",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_code",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailer_name",
																	"type": "String"
																},
																"sink": {
																	"name": "retailer_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_name",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel_type_code",
																	"type": "String"
																},
																"sink": {
																	"name": "channel_type_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sector_name",
																	"type": "String"
																},
																"sink": {
																	"name": "sector_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_code",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "seller_name",
																	"type": "String"
																},
																"sink": {
																	"name": "seller_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_name",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "target",
																	"type": "String"
																},
																"sink": {
																	"name": "target",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "achievement_status",
																	"type": "String"
																},
																"sink": {
																	"name": "achievement_status",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "calculation_rule",
																	"type": "String"
																},
																"sink": {
																	"name": "calculation_rule",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "coh_detail",
																	"type": "String"
																},
																"sink": {
																	"name": "coh_detail",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "withsale",
																	"type": "String"
																},
																"sink": {
																	"name": "withsale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "nosale",
																	"type": "String"
																},
																"sink": {
																	"name": "nosale",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_code",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "distributor_name",
																	"type": "String"
																},
																"sink": {
																	"name": "distributor_name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "DateTime"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": "leap",
															"Directory": {
																"value": "/2020/06/30/",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "COHGAP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}