NCS-LEAP-DataMovement/PartialArmTemplates/ArmTemplate_1_25_2021_16_5_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TAS Order Transfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1_LookupOrderExists",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cloud1_LookupCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spAutoTransferProcessStart]",
								"storedProcedureParameters": {
									"TrnsCycleId": {
										"type": "Int32",
										"value": {
											"value": "@activity('Cloud1_LookupCycleStart').output.firstRow.TrnsCycleId",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection_Test",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "If Cloud1 Order Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Cloud1_LookupOrderExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('Cloud1_LookupOrderExists').output.firstRow.flgHasData)\n",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Cloud1OrderTransfer",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SpspUpdateAutoTransferStep_Before",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[spDownloadAutoTransferOrder]",
											"storedProcedureParameters": {
												"TrnsCycleId": {
													"type": "Int32",
													"value": {
														"value": "@activity('Cloud1_LookupCycleStart').output.firstRow.TrnsCycleId",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "TASDBConnection_Test",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "TASOrderDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@activity('Cloud1_LookupCycleStart').output.firstRow.TFileName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SpspUpdateAutoTransferStep_Before",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spUpdateAutoTransferStep]",
										"storedProcedureParameters": {
											"flgType": {
												"value": "1",
												"type": "Byte"
											},
											"TrnsCycleId": {
												"value": {
													"value": "@activity('Cloud1_LookupCycleStart').output.firstRow.TrnsCycleId",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase_Test",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpspUpdateAutoTransferStep_After",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Cloud1OrderTransfer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spUpdateAutoTransferStep]",
										"storedProcedureParameters": {
											"flgType": {
												"value": "2",
												"type": "Byte"
											},
											"TrnsCycleId": {
												"value": {
													"value": "@activity('Cloud1_LookupCycleStart').output.firstRow.TrnsCycleId",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase_Test",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Cloud1_LookupCycleStart",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "spCreateAutoTransferProcess",
								"storedProcedureParameters": {
									"CloudId": {
										"type": "Byte",
										"value": "1"
									},
									"TimeSlot": {
										"type": "TimeSpan",
										"value": {
											"value": "@pipeline().parameters.windowStart",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection_Test",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TASDBConnection_Test')]",
				"[concat(variables('factoryId'), '/datasets/TASOrderDataSet_Cloud1_File')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud1_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "TASOrdersQA01/Upload"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud2_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "TASOrdersQA02/Upload"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud3_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "TASOrdersQA03/Upload"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud1_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "TASOrdersQA01/Upload",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud2_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "TASOrdersQA02/Upload",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud3_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "TASOrdersQA03/Upload",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASDBConnection_Test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase_Test",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASOrderDataSet_Cloud1_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NCSdataStorageLink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "Cloud01",
						"container": "ncsstorage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}