NCS-LEAP-DataMovement/PartialArmTemplates/ArmTemplate_5_31_2020_23_1_29.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyS3-To-Staging",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "NCSdataStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "DataMovement_DF_To_TAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DataMovement_DF-TO-TAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DataMovement_DF-TO-TAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACRV_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_location",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "dse_name",
						"type": "nvarchar"
					},
					{
						"name": "retailer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_name",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_no",
						"type": "nvarchar"
					},
					{
						"name": "sales_invoice_date",
						"type": "nvarchar"
					},
					{
						"name": "aging_days",
						"type": "nvarchar"
					},
					{
						"name": "net_amount",
						"type": "nvarchar"
					},
					{
						"name": "paid_amount",
						"type": "nvarchar"
					},
					{
						"name": "balance_amount",
						"type": "nvarchar"
					},
					{
						"name": "credit_amount",
						"type": "nvarchar"
					},
					{
						"name": "channel_code",
						"type": "nvarchar"
					},
					{
						"name": "channel_name",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_ACRV"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AR_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "DATE",
						"type": "date"
					},
					{
						"name": "AR",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_AR_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AR_SUBD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "DATE",
						"type": "date"
					},
					{
						"name": "AR",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_AR_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ATTN_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branchcode",
						"type": "nvarchar"
					},
					{
						"name": "dsecode",
						"type": "nvarchar"
					},
					{
						"name": "desename",
						"type": "nvarchar"
					},
					{
						"name": "visit_date",
						"type": "nvarchar"
					},
					{
						"name": "route_name",
						"type": "nvarchar"
					},
					{
						"name": "attendance",
						"type": "nvarchar"
					},
					{
						"name": "reason",
						"type": "nvarchar"
					},
					{
						"name": "attendance_timestamp",
						"type": "nvarchar"
					},
					{
						"name": "generated_at",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_ATTN"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BSBF_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branchcode",
						"type": "nvarchar"
					},
					{
						"name": "subbfname",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_BSBF"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCCR_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_location",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "dse_name",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "nvarchar"
					},
					{
						"name": "route_name",
						"type": "nvarchar"
					},
					{
						"name": "retailer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_name",
						"type": "nvarchar"
					},
					{
						"name": "contact_number_1",
						"type": "nvarchar"
					},
					{
						"name": "contact_number_2",
						"type": "nvarchar"
					},
					{
						"name": "channel_name",
						"type": "nvarchar"
					},
					{
						"name": "sub_channel_name",
						"type": "nvarchar"
					},
					{
						"name": "start_time",
						"type": "nvarchar"
					},
					{
						"name": "end_time",
						"type": "nvarchar"
					},
					{
						"name": "intime",
						"type": "nvarchar"
					},
					{
						"name": "order_value",
						"type": "nvarchar"
					},
					{
						"name": "productivity",
						"type": "nvarchar"
					},
					{
						"name": "reason",
						"type": "nvarchar"
					},
					{
						"name": "visit_latitude",
						"type": "nvarchar"
					},
					{
						"name": "visit_longitude",
						"type": "nvarchar"
					},
					{
						"name": "deviation_in_meter",
						"type": "nvarchar"
					},
					{
						"name": "deviation",
						"type": "nvarchar"
					},
					{
						"name": "reason_for_deviation",
						"type": "nvarchar"
					},
					{
						"name": "on_route",
						"type": "nvarchar"
					},
					{
						"name": "remarks",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_CCCR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DPSR_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "document_no",
						"type": "nvarchar"
					},
					{
						"name": "apply_to_doc",
						"type": "nvarchar"
					},
					{
						"name": "document_date",
						"type": "nvarchar"
					},
					{
						"name": "transaction_type",
						"type": "nvarchar"
					},
					{
						"name": "subbrandform_name",
						"type": "nvarchar"
					},
					{
						"name": "prod_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_name",
						"type": "nvarchar"
					},
					{
						"name": "customer_code",
						"type": "nvarchar"
					},
					{
						"name": "channel_description",
						"type": "nvarchar"
					},
					{
						"name": "dse",
						"type": "nvarchar"
					},
					{
						"name": "pcode",
						"type": "nvarchar"
					},
					{
						"name": "customer_type",
						"type": "nvarchar"
					},
					{
						"name": "hsn_code",
						"type": "nvarchar"
					},
					{
						"name": "category",
						"type": "nvarchar"
					},
					{
						"name": "brand",
						"type": "nvarchar"
					},
					{
						"name": "brandform",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "nvarchar"
					},
					{
						"name": "gross_value",
						"type": "nvarchar"
					},
					{
						"name": "discount",
						"type": "nvarchar"
					},
					{
						"name": "taxable_scheme",
						"type": "nvarchar"
					},
					{
						"name": "cgsttax",
						"type": "nvarchar"
					},
					{
						"name": "sgsttax",
						"type": "nvarchar"
					},
					{
						"name": "igsttax",
						"type": "nvarchar"
					},
					{
						"name": "cesstax",
						"type": "nvarchar"
					},
					{
						"name": "mracc_code",
						"type": "nvarchar"
					},
					{
						"name": "mracc_desc",
						"type": "nvarchar"
					},
					{
						"name": "vendor",
						"type": "nvarchar"
					},
					{
						"name": "net_amount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_discount",
						"type": "nvarchar"
					},
					{
						"name": "tax_on_scheme",
						"type": "nvarchar"
					},
					{
						"name": "tax_in_rlp",
						"type": "nvarchar"
					},
					{
						"name": "retailing",
						"type": "nvarchar"
					},
					{
						"name": "gross_in_slp",
						"type": "nvarchar"
					},
					{
						"name": "po_no",
						"type": "nvarchar"
					},
					{
						"name": "dse_code",
						"type": "nvarchar"
					},
					{
						"name": "msu",
						"type": "nvarchar"
					},
					{
						"name": "reason",
						"type": "nvarchar"
					},
					{
						"name": "dist_gstinno",
						"type": "nvarchar"
					},
					{
						"name": "ret_gstinno",
						"type": "nvarchar"
					},
					{
						"name": "srn_ref_no",
						"type": "nvarchar"
					},
					{
						"name": "composite",
						"type": "nvarchar"
					},
					{
						"name": "cgsttax_rate",
						"type": "nvarchar"
					},
					{
						"name": "sgsttax_rate",
						"type": "nvarchar"
					},
					{
						"name": "igsttax_rate",
						"type": "nvarchar"
					},
					{
						"name": "cesstax_rate",
						"type": "nvarchar"
					},
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_name",
						"type": "nvarchar"
					},
					{
						"name": "order_mode",
						"type": "nvarchar"
					},
					{
						"name": "tc_code",
						"type": "nvarchar"
					},
					{
						"name": "tc_name",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "BranchNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BranchNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StoreId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CmpNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CmpNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CatNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CatNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BrandNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BrandNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrdNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrdNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ChannelId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SubChannelId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dsenodeid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dsenodetype",
						"type": "int",
						"precision": 10
					},
					{
						"name": "mraccid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SRNId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_DPSR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSEM_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branchcode",
						"type": "nvarchar"
					},
					{
						"name": "branchname",
						"type": "nvarchar"
					},
					{
						"name": "dsecode",
						"type": "nvarchar"
					},
					{
						"name": "dsename",
						"type": "nvarchar"
					},
					{
						"name": "stlcode",
						"type": "nvarchar"
					},
					{
						"name": "stlname",
						"type": "nvarchar"
					},
					{
						"name": "becode",
						"type": "nvarchar"
					},
					{
						"name": "bename",
						"type": "nvarchar"
					},
					{
						"name": "selected_date",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_DSEM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSE_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "DSENAME",
						"type": "varchar"
					},
					{
						"name": "STLCODE",
						"type": "varchar"
					},
					{
						"name": "STLName",
						"type": "varchar"
					},
					{
						"name": "BECode",
						"type": "varchar"
					},
					{
						"name": "BEName",
						"type": "varchar"
					},
					{
						"name": "SectorName",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_DSE_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DTA_INACTBranch_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblDTAInactiveBranch"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCM_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "country_code",
						"type": "nvarchar"
					},
					{
						"name": "country_name",
						"type": "nvarchar"
					},
					{
						"name": "division_name",
						"type": "nvarchar"
					},
					{
						"name": "region_code",
						"type": "nvarchar"
					},
					{
						"name": "region_name",
						"type": "nvarchar"
					},
					{
						"name": "site_code",
						"type": "nvarchar"
					},
					{
						"name": "site_name",
						"type": "nvarchar"
					},
					{
						"name": "distributor_code",
						"type": "nvarchar"
					},
					{
						"name": "distributor_name",
						"type": "nvarchar"
					},
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_name",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_LocationMaster"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOCN_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COUNTRYCODE",
						"type": "varchar"
					},
					{
						"name": "COUNTRYNAME",
						"type": "varchar"
					},
					{
						"name": "DIVISION",
						"type": "varchar"
					},
					{
						"name": "DISTRICT",
						"type": "varchar"
					},
					{
						"name": "SITECODE",
						"type": "varchar"
					},
					{
						"name": "SITENAME",
						"type": "varchar"
					},
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "BRANCHNAME",
						"type": "varchar"
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Status",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "location_ncmaster"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PROD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PRODUCTCODE",
						"type": "varchar"
					},
					{
						"name": "PRODUCTNAME",
						"type": "varchar"
					},
					{
						"name": "SLP",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RLP",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "MRP",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "MSUFACTOR",
						"type": "decimal",
						"precision": 18,
						"scale": 6
					},
					{
						"name": "CATEGORY",
						"type": "varchar"
					},
					{
						"name": "BRAND",
						"type": "varchar"
					},
					{
						"name": "BRANDFORM",
						"type": "varchar"
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SAPUPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Business",
						"type": "varchar"
					},
					{
						"name": "Sub Brand Form",
						"type": "varchar"
					},
					{
						"name": "itemid",
						"type": "varchar"
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Product_ncmaster"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RETAILER_SUBD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTNAME",
						"type": "varchar"
					},
					{
						"name": "CHANNEL",
						"type": "varchar"
					},
					{
						"name": "DSE",
						"type": "varchar"
					},
					{
						"name": "CUSTTYPE",
						"type": "varchar"
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_RETAILER_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RETAIL_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "CUSTNAME",
						"type": "varchar"
					},
					{
						"name": "CHANNEL",
						"type": "varchar"
					},
					{
						"name": "DSE",
						"type": "varchar"
					},
					{
						"name": "CUSTTYPE",
						"type": "varchar"
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_RETAILER_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTRM_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "branch_code",
						"type": "nvarchar"
					},
					{
						"name": "branch_location",
						"type": "nvarchar"
					},
					{
						"name": "retailer_code",
						"type": "nvarchar"
					},
					{
						"name": "retailer_name",
						"type": "nvarchar"
					},
					{
						"name": "address_1",
						"type": "nvarchar"
					},
					{
						"name": "address_2",
						"type": "nvarchar"
					},
					{
						"name": "pin_number",
						"type": "nvarchar"
					},
					{
						"name": "area_code",
						"type": "nvarchar"
					},
					{
						"name": "area",
						"type": "nvarchar"
					},
					{
						"name": "town_code",
						"type": "nvarchar"
					},
					{
						"name": "town",
						"type": "nvarchar"
					},
					{
						"name": "town_class",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "mobile_number",
						"type": "nvarchar"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "contact_person",
						"type": "nvarchar"
					},
					{
						"name": "stl_name",
						"type": "nvarchar"
					},
					{
						"name": "dse_name",
						"type": "nvarchar"
					},
					{
						"name": "frequency",
						"type": "nvarchar"
					},
					{
						"name": "distance",
						"type": "nvarchar"
					},
					{
						"name": "class_code",
						"type": "nvarchar"
					},
					{
						"name": "class",
						"type": "nvarchar"
					},
					{
						"name": "channel_code",
						"type": "nvarchar"
					},
					{
						"name": "channel",
						"type": "nvarchar"
					},
					{
						"name": "subchannel_code",
						"type": "nvarchar"
					},
					{
						"name": "subchannel",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_code",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_name",
						"type": "nvarchar"
					},
					{
						"name": "credit_limit",
						"type": "nvarchar"
					},
					{
						"name": "credit_period",
						"type": "nvarchar"
					},
					{
						"name": "invoice_limit",
						"type": "nvarchar"
					},
					{
						"name": "certificate_type",
						"type": "nvarchar"
					},
					{
						"name": "gst_number",
						"type": "nvarchar"
					},
					{
						"name": "pan_no",
						"type": "nvarchar"
					},
					{
						"name": "dl_number",
						"type": "nvarchar"
					},
					{
						"name": "dl_expiry_date",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "dob",
						"type": "nvarchar"
					},
					{
						"name": "doa",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "default_warehouse_code",
						"type": "nvarchar"
					},
					{
						"name": "default_warehouse",
						"type": "nvarchar"
					},
					{
						"name": "restricted_orderswap_status",
						"type": "nvarchar"
					},
					{
						"name": "lattitude",
						"type": "nvarchar"
					},
					{
						"name": "longitude",
						"type": "nvarchar"
					},
					{
						"name": "retailer_radius",
						"type": "nvarchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawLEAPTAS_RTRM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud1_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud1",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud1_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud1"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud2_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud2",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud2_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud2"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud3_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud3",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3LeapDataSet_Cloud3_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": "LEAP/Cloud3"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SALES_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "INVDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROSSAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INVREF",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "flgProcess",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SALES_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SALES_SUBD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "INVDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROSSAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INVREF",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TimeStamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SALES_SUBD_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRN_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "SRNNO",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "SRNDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "TIMESTAMP",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "GROSSINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXES",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BranchId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FileSetId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "flgProcess",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SRN_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRN_SUBD_NCS_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/NCS Tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "SRNNO",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "SRNDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "GROSSINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETINVAMT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXES",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Filename",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NC_SRN_SUBD_Current"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copytables-DF-TO-TAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_TmpRawLeapStoreMasterDetails",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String"
										},
										"sink": {
											"name": "CustomerName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String"
										},
										"sink": {
											"name": "Address_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Class",
											"type": "String"
										},
										"sink": {
											"name": "Customer_Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRCPChannel",
											"type": "String"
										},
										"sink": {
											"name": "DRCPChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Type",
											"type": "String"
										},
										"sink": {
											"name": "Customer_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town",
											"type": "String"
										},
										"sink": {
											"name": "Town",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town_Class",
											"type": "String"
										},
										"sink": {
											"name": "Town_Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tin_No",
											"type": "String"
										},
										"sink": {
											"name": "Tin_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Drug_Licence No",
											"type": "String"
										},
										"sink": {
											"name": "Drug_Licence No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GSTIN_No",
											"type": "String"
										},
										"sink": {
											"name": "GSTIN_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pan_No",
											"type": "String"
										},
										"sink": {
											"name": "Pan_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CoverageType",
											"type": "String"
										},
										"sink": {
											"name": "CoverageType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sectorization",
											"type": "String"
										},
										"sink": {
											"name": "Sectorization",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "My_Channel",
											"type": "String"
										},
										"sink": {
											"name": "My_Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dse_Type",
											"type": "String"
										},
										"sink": {
											"name": "Dse_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STL_Code",
											"type": "String"
										},
										"sink": {
											"name": "STL_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Lat",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Lat",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Long",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Long",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark4",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark5",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL_No",
											"type": "String"
										},
										"sink": {
											"name": "DL_No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark7",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distance_in_KM",
											"type": "String"
										},
										"sink": {
											"name": "Distance_in_KM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark10",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pin_Code",
											"type": "String"
										},
										"sink": {
											"name": "Pin_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MKT_Name",
											"type": "String"
										},
										"sink": {
											"name": "MKT_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrgStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "OrgStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReplaceStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "ReplaceStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "town_code",
											"type": "String"
										},
										"sink": {
											"name": "town_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "class_code",
											"type": "String"
										},
										"sink": {
											"name": "class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_code",
											"type": "String"
										},
										"sink": {
											"name": "channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "subchannel_code",
											"type": "String"
										},
										"sink": {
											"name": "subchannel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_code",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_name",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "certificate_type",
											"type": "String"
										},
										"sink": {
											"name": "certificate_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_Radius",
											"type": "String"
										},
										"sink": {
											"name": "retailer_Radius",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_TmpRawLeapStoreMasterDetails",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_TmpRawLeapStoreMasterDetails",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_TmpRawLeapOutstandingAmtData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_TmpRawLeapStoreMasterDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_TmpRawLeapOutstandingAmtData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_TmpRawLeapOutstandingAmtData",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_tblP3MBranchSalesDetail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_TmpRawLeapOutstandingAmtData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TC_Name",
											"type": "String"
										},
										"sink": {
											"name": "TC_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECode",
											"type": "String"
										},
										"sink": {
											"name": "DSECode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustCode",
											"type": "String"
										},
										"sink": {
											"name": "CustCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBF",
											"type": "String"
										},
										"sink": {
											"name": "SBF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvNo",
											"type": "String"
										},
										"sink": {
											"name": "InvNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "Int32"
										},
										"sink": {
											"name": "Qty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "GrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UPC",
											"type": "Int32"
										},
										"sink": {
											"name": "UPC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetQty",
											"type": "Int32"
										},
										"sink": {
											"name": "RetQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvQty",
											"type": "Int32"
										},
										"sink": {
											"name": "InvQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "InvNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvId",
											"type": "Int32"
										},
										"sink": {
											"name": "InvId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_tblP3MBranchSalesDetail",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_tmpRawDataP3MBranchSalesDetail",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_tblP3MSUBDSalesDetail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_tblP3MBranchSalesDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUBDCode",
											"type": "String"
										},
										"sink": {
											"name": "SUBDCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECode",
											"type": "String"
										},
										"sink": {
											"name": "DSECode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustCode",
											"type": "String"
										},
										"sink": {
											"name": "CustCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBF",
											"type": "String"
										},
										"sink": {
											"name": "SBF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvNo",
											"type": "String"
										},
										"sink": {
											"name": "InvNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "Int32"
										},
										"sink": {
											"name": "Qty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "GrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UPC",
											"type": "Int32"
										},
										"sink": {
											"name": "UPC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetQty",
											"type": "Int32"
										},
										"sink": {
											"name": "RetQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RetNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RetRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RetRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvQty",
											"type": "Int32"
										},
										"sink": {
											"name": "InvQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "InvNetValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvNetValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvGrossAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvTaxAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvRETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvRETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "InvId",
											"type": "Int32"
										},
										"sink": {
											"name": "InvId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DF_tblP3MSUBDSalesDetail",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_TAS_tmpRawDataP3MSUBDSalesDetail",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_DF_TmpRawLeapStoreMasterDetails')]",
				"[concat(variables('factoryId'), '/datasets/DS_TAS_TmpRawLeapStoreMasterDetails')]",
				"[concat(variables('factoryId'), '/datasets/DS_DF_TmpRawLeapOutstandingAmtData')]",
				"[concat(variables('factoryId'), '/datasets/DS_TAS_TmpRawLeapOutstandingAmtData')]",
				"[concat(variables('factoryId'), '/datasets/DS_DF_tblP3MBranchSalesDetail')]",
				"[concat(variables('factoryId'), '/datasets/DS_TAS_tmpRawDataP3MBranchSalesDetail')]",
				"[concat(variables('factoryId'), '/datasets/DS_DF_tblP3MSUBDSalesDetail')]",
				"[concat(variables('factoryId'), '/datasets/DS_TAS_tmpRawDataP3MSUBDSalesDetail')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DF_TmpRawLeapStoreMasterDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BranchCode",
						"type": "varchar"
					},
					{
						"name": "StoreCode",
						"type": "varchar"
					},
					{
						"name": "StoreName",
						"type": "varchar"
					},
					{
						"name": "ContactNo",
						"type": "varchar"
					},
					{
						"name": "ContactPerson",
						"type": "varchar"
					},
					{
						"name": "Channel",
						"type": "varchar"
					},
					{
						"name": "CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "Address_2",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Customer_Class",
						"type": "nvarchar"
					},
					{
						"name": "DRCPChannel",
						"type": "nvarchar"
					},
					{
						"name": "Customer_Type",
						"type": "nvarchar"
					},
					{
						"name": "Town",
						"type": "nvarchar"
					},
					{
						"name": "Town_Class",
						"type": "nvarchar"
					},
					{
						"name": "Tin_No",
						"type": "nvarchar"
					},
					{
						"name": "Drug_Licence No",
						"type": "nvarchar"
					},
					{
						"name": "GSTIN_No",
						"type": "nvarchar"
					},
					{
						"name": "Pan_No",
						"type": "nvarchar"
					},
					{
						"name": "CoverageType",
						"type": "nvarchar"
					},
					{
						"name": "Sectorization",
						"type": "nvarchar"
					},
					{
						"name": "My_Channel",
						"type": "nvarchar"
					},
					{
						"name": "Dse_Type",
						"type": "nvarchar"
					},
					{
						"name": "STL_Code",
						"type": "nvarchar"
					},
					{
						"name": "GPS_Lat",
						"type": "nvarchar"
					},
					{
						"name": "GPS_Long",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark4",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark5",
						"type": "nvarchar"
					},
					{
						"name": "DL_No",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark7",
						"type": "nvarchar"
					},
					{
						"name": "Distance_in_KM",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark10",
						"type": "nvarchar"
					},
					{
						"name": "Pin_Code",
						"type": "nvarchar"
					},
					{
						"name": "MKT_Name",
						"type": "nvarchar"
					},
					{
						"name": "OrgStoreCode",
						"type": "varchar"
					},
					{
						"name": "ReplaceStoreCode",
						"type": "varchar"
					},
					{
						"name": "town_code",
						"type": "nvarchar"
					},
					{
						"name": "class_code",
						"type": "nvarchar"
					},
					{
						"name": "channel_code",
						"type": "nvarchar"
					},
					{
						"name": "subchannel_code",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_code",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_name",
						"type": "nvarchar"
					},
					{
						"name": "certificate_type",
						"type": "nvarchar"
					},
					{
						"name": "retailer_Radius",
						"type": "nvarchar"
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "flgActive",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TmpRawLeapStoreMasterDetails"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DF_TmpRawLeapOutstandingAmtData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BranchCode",
						"type": "varchar"
					},
					{
						"name": "StoreCode",
						"type": "varchar"
					},
					{
						"name": "OutstandingAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TmpRawLeapOutstandingAmtData"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DF_tblP3MBranchSalesDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TC_Name",
						"type": "varchar"
					},
					{
						"name": "BranchCode",
						"type": "varchar"
					},
					{
						"name": "DSECode",
						"type": "varchar"
					},
					{
						"name": "CustCode",
						"type": "varchar"
					},
					{
						"name": "SBF",
						"type": "varchar"
					},
					{
						"name": "InvNo",
						"type": "varchar"
					},
					{
						"name": "InvDate",
						"type": "date"
					},
					{
						"name": "Qty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "GrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblP3MBranchSalesDetail"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DF_tblP3MSUBDSalesDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCode",
						"type": "varchar"
					},
					{
						"name": "DSECode",
						"type": "varchar"
					},
					{
						"name": "CustCode",
						"type": "varchar"
					},
					{
						"name": "SBF",
						"type": "varchar"
					},
					{
						"name": "InvNo",
						"type": "varchar"
					},
					{
						"name": "InvDate",
						"type": "date"
					},
					{
						"name": "Qty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "GrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblP3MSUBDSalesDetail"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TAS_TmpRawLeapStoreMasterDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TAS_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BranchCode",
						"type": "varchar"
					},
					{
						"name": "StoreCode",
						"type": "varchar"
					},
					{
						"name": "StoreName",
						"type": "varchar"
					},
					{
						"name": "ContactNo",
						"type": "varchar"
					},
					{
						"name": "ContactPerson",
						"type": "varchar"
					},
					{
						"name": "Channel",
						"type": "varchar"
					},
					{
						"name": "CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "Address_2",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Customer_Class",
						"type": "nvarchar"
					},
					{
						"name": "DRCPChannel",
						"type": "nvarchar"
					},
					{
						"name": "Customer_Type",
						"type": "nvarchar"
					},
					{
						"name": "Town",
						"type": "nvarchar"
					},
					{
						"name": "Town_Class",
						"type": "nvarchar"
					},
					{
						"name": "Tin_No",
						"type": "nvarchar"
					},
					{
						"name": "Drug_Licence No",
						"type": "nvarchar"
					},
					{
						"name": "GSTIN_No",
						"type": "nvarchar"
					},
					{
						"name": "Pan_No",
						"type": "nvarchar"
					},
					{
						"name": "CoverageType",
						"type": "nvarchar"
					},
					{
						"name": "Sectorization",
						"type": "nvarchar"
					},
					{
						"name": "My_Channel",
						"type": "nvarchar"
					},
					{
						"name": "Dse_Type",
						"type": "nvarchar"
					},
					{
						"name": "STL_Code",
						"type": "nvarchar"
					},
					{
						"name": "GPS_Lat",
						"type": "nvarchar"
					},
					{
						"name": "GPS_Long",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark4",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark5",
						"type": "nvarchar"
					},
					{
						"name": "DL_No",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark7",
						"type": "nvarchar"
					},
					{
						"name": "Distance_in_KM",
						"type": "nvarchar"
					},
					{
						"name": "RtrRemark10",
						"type": "nvarchar"
					},
					{
						"name": "Pin_Code",
						"type": "nvarchar"
					},
					{
						"name": "MKT_Name",
						"type": "nvarchar"
					},
					{
						"name": "OrgStoreCode",
						"type": "varchar"
					},
					{
						"name": "ReplaceStoreCode",
						"type": "varchar"
					},
					{
						"name": "town_code",
						"type": "nvarchar"
					},
					{
						"name": "class_code",
						"type": "nvarchar"
					},
					{
						"name": "channel_code",
						"type": "nvarchar"
					},
					{
						"name": "subchannel_code",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_code",
						"type": "nvarchar"
					},
					{
						"name": "mr_account_name",
						"type": "nvarchar"
					},
					{
						"name": "certificate_type",
						"type": "nvarchar"
					},
					{
						"name": "retailer_Radius",
						"type": "nvarchar"
					},
					{
						"name": "TimeStampIns",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "flgActive",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TmpRawLeapStoreMasterDetails"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TAS_TmpRawLeapOutstandingAmtData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TAS_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BranchCode",
						"type": "varchar"
					},
					{
						"name": "StoreCode",
						"type": "varchar"
					},
					{
						"name": "OutstandingAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TmpRawLeapOutstandingAmtData"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TAS_tmpRawDataP3MBranchSalesDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TAS_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TC_Name",
						"type": "varchar"
					},
					{
						"name": "BranchCode",
						"type": "varchar"
					},
					{
						"name": "DSECode",
						"type": "varchar"
					},
					{
						"name": "CustCode",
						"type": "varchar"
					},
					{
						"name": "SBF",
						"type": "varchar"
					},
					{
						"name": "InvNo",
						"type": "varchar"
					},
					{
						"name": "InvDate",
						"type": "date"
					},
					{
						"name": "Qty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "GrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawDataP3MBranchSalesDetail"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TAS_tmpRawDataP3MSUBDSalesDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TASDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "TAS_DBConnection"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SUBDCode",
						"type": "varchar"
					},
					{
						"name": "DSECode",
						"type": "varchar"
					},
					{
						"name": "CustCode",
						"type": "varchar"
					},
					{
						"name": "SBF",
						"type": "varchar"
					},
					{
						"name": "InvNo",
						"type": "varchar"
					},
					{
						"name": "InvDate",
						"type": "date"
					},
					{
						"name": "Qty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "GrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RetNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvQty",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvNetValue",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvGrossAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvTaxAmt",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvRETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "InvId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpRawDataP3MSUBDSalesDetail"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataMovement_DF-TO-TAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataMovement_DF-TO-TAS",
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('IFDataTransferCanDone').output.firstRow.tblFlagDataProcess)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecuteBeforeSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteBeforeTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Copy DF-To-TAS",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ExecuteBeforeSp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Copytables-DF-TO-TAS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								},
								{
									"name": "ExecuteAfterSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Copy DF-To-TAS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteAfterTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DFDBConnection",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DFDBConnection",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DFDBConnection')]",
				"[concat(variables('factoryId'), '/pipelines/Copytables-DF-TO-TAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DFDBConnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PnGDataFoundation",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		}
	]
}