NCS-LEAP-DataMovement/PartialArmTemplates/ArmTemplate_2_16_2021_20_6_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NCS-LEAP-DataMovement"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TASOrderLog_Cloud1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3TASOrderDataSet_Cloud1_Folder",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "LEAP/Cloud1/Log"
								}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud1FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud1FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud1FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud1FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapOrderLog_Cloud1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LookupspGetAutoTransferCycleIdForErrorOrder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "TrnsCycleId",
													"value": {
														"value": "@activity('LookupspGetAutoTransferCycleIdForErrorOrder').output.firstRow.TrnsCycleId",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Branch_Code",
														"type": "String"
													},
													"sink": {
														"name": "Branch_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Number",
														"type": "String"
													},
													"sink": {
														"name": "Order_Number",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DSE_Code",
														"type": "String"
													},
													"sink": {
														"name": "DSE_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Retailer_Code",
														"type": "String"
													},
													"sink": {
														"name": "Retailer_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Route_Code",
														"type": "String"
													},
													"sink": {
														"name": "Route_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Date",
														"type": "String"
													},
													"sink": {
														"name": "Order_Date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Exp_Delivery_Date",
														"type": "String"
													},
													"sink": {
														"name": "Exp_Delivery_Date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SUBBF_Name",
														"type": "String"
													},
													"sink": {
														"name": "SUBBF_Name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Qty",
														"type": "String"
													},
													"sink": {
														"name": "Order_Qty",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TeleCaller_Name",
														"type": "String"
													},
													"sink": {
														"name": "TeleCaller_Name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TeleCaller_Code",
														"type": "String"
													},
													"sink": {
														"name": "TeleCaller_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PO_Number",
														"type": "String"
													},
													"sink": {
														"name": "PO_Number",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Error_Description",
														"type": "String"
													},
													"sink": {
														"name": "Error_Description",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TrnsCycleId",
														"type": "String"
													},
													"sink": {
														"name": "TrnsCycleId",
														"type": "Int64"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "S3TASOrderDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TAS_tblDownloadOrderDetail_Error",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "DeletelogFiles_Cloud1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapOrderLog_Cloud1_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3TASOrderDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LookupspGetAutoTransferCycleIdForErrorOrder",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[spGetAutoTransferCycleIdForErrorOrder]",
											"storedProcedureParameters": {
												"CloudId": {
													"type": "Byte",
													"value": "1"
												},
												"FileName": {
													"type": "String",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_TAS_tblDownloadOrderDetail_Error",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "LeapOrderLog_Cloud1_Staging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LeapOrderLog_Cloud1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "TrnsCycleId",
													"value": {
														"value": "activity('LookupspGetAutoTransferCycleIdForErrorOrder').output.firstRow.TrnsCycleId",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3TASOrderDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "TASOrderLogStorageDS",
											"type": "DatasetReference",
											"parameters": {
												"Directory": "Cloud01"
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "TASOrder"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S3TASOrderDataSet_Cloud1_Folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud1_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud2_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3TASOrderDataSet_Cloud3_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Leap_AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TASOrders"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leapdata-tas",
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASOrderLog_Cloud2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud2FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3TASOrderDataSet_Cloud2_Folder",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "LEAP/Cloud2/Log"
								}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud2FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud2FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud2FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud2FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapOrderLog_Cloud2_Staging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LeapOrderLog_Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3TASOrderDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "TASOrderLogStorageDS",
											"type": "DatasetReference",
											"parameters": {
												"Directory": "Cloud02"
											}
										}
									]
								},
								{
									"name": "DeletelogFiles_Cloud2",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapOrderLog_Cloud2_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3TASOrderDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapOrderLog_Cloud2",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LookupspGetAutoTransferCycleIdForErrorOrder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "TrnsCycleId",
													"value": {
														"value": "@activity('LookupspGetAutoTransferCycleIdForErrorOrder').output.firstRow.TrnsCycleId",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Branch_Code",
														"type": "String"
													},
													"sink": {
														"name": "Branch_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Number",
														"type": "String"
													},
													"sink": {
														"name": "Order_Number",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DSE_Code",
														"type": "String"
													},
													"sink": {
														"name": "DSE_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Retailer_Code",
														"type": "String"
													},
													"sink": {
														"name": "Retailer_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Route_Code",
														"type": "String"
													},
													"sink": {
														"name": "Route_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Date",
														"type": "String"
													},
													"sink": {
														"name": "Order_Date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Exp_Delivery_Date",
														"type": "String"
													},
													"sink": {
														"name": "Exp_Delivery_Date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SUBBF_Name",
														"type": "String"
													},
													"sink": {
														"name": "SUBBF_Name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Qty",
														"type": "String"
													},
													"sink": {
														"name": "Order_Qty",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TeleCaller_Name",
														"type": "String"
													},
													"sink": {
														"name": "TeleCaller_Name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TeleCaller_Code",
														"type": "String"
													},
													"sink": {
														"name": "TeleCaller_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PO_Number",
														"type": "String"
													},
													"sink": {
														"name": "PO_Number",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Error_Description",
														"type": "String"
													},
													"sink": {
														"name": "Error_Description",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TrnsCycleId",
														"type": "String"
													},
													"sink": {
														"name": "TrnsCycleId",
														"type": "Int64"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "S3TASOrderDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TAS_tblDownloadOrderDetail_Error",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "LookupspGetAutoTransferCycleIdForErrorOrder",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[spGetAutoTransferCycleIdForErrorOrder]",
											"storedProcedureParameters": {
												"CloudId": {
													"type": "Byte",
													"value": "2"
												},
												"FileName": {
													"type": "String",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_TAS_tblDownloadOrderDetail_Error",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "TASOrder"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S3TASOrderDataSet_Cloud2_Folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASOrderLog_Cloud3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud3FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3TASOrderDataSet_Cloud3_Folder",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "LEAP/Cloud3/Log"
								}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud3FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud3FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud3FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud3FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapOrderLog_Cloud3_Staging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LeapOrderLog_Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3TASOrderDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "TASOrderLogStorageDS",
											"type": "DatasetReference",
											"parameters": {
												"Directory": "Cloud03"
											}
										}
									]
								},
								{
									"name": "DeletelogFiles_Cloud3",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapOrderLog_Cloud3_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3TASOrderDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapOrderLog_Cloud3",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LookupspGetAutoTransferCycleIdForErrorOrder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "TrnsCycleId",
													"value": {
														"value": "@activity('LookupspGetAutoTransferCycleIdForErrorOrder').output.firstRow.TrnsCycleId",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Branch_Code",
														"type": "String"
													},
													"sink": {
														"name": "Branch_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Number",
														"type": "String"
													},
													"sink": {
														"name": "Order_Number",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "DSE_Code",
														"type": "String"
													},
													"sink": {
														"name": "DSE_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Retailer_Code",
														"type": "String"
													},
													"sink": {
														"name": "Retailer_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Route_Code",
														"type": "String"
													},
													"sink": {
														"name": "Route_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Date",
														"type": "String"
													},
													"sink": {
														"name": "Order_Date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Exp_Delivery_Date",
														"type": "String"
													},
													"sink": {
														"name": "Exp_Delivery_Date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "SUBBF_Name",
														"type": "String"
													},
													"sink": {
														"name": "SUBBF_Name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Order_Qty",
														"type": "String"
													},
													"sink": {
														"name": "Order_Qty",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TeleCaller_Name",
														"type": "String"
													},
													"sink": {
														"name": "TeleCaller_Name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TeleCaller_Code",
														"type": "String"
													},
													"sink": {
														"name": "TeleCaller_Code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "PO_Number",
														"type": "String"
													},
													"sink": {
														"name": "PO_Number",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Error_Description",
														"type": "String"
													},
													"sink": {
														"name": "Error_Description",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "TrnsCycleId",
														"type": "String"
													},
													"sink": {
														"name": "TrnsCycleId",
														"type": "Int64"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "S3TASOrderDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_TAS_tblDownloadOrderDetail_Error",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "LookupspGetAutoTransferCycleIdForErrorOrder",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[spGetAutoTransferCycleIdForErrorOrder]",
											"storedProcedureParameters": {
												"CloudId": {
													"type": "Byte",
													"value": "3"
												},
												"FileName": {
													"type": "String",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_TAS_tblDownloadOrderDetail_Error",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "TASOrder"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S3TASOrderDataSet_Cloud3_Folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASOrderLog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TASOrderLog_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TASOrderLog_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "TASOrderLog_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TASOrderLog_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TASOrderLog_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "TASOrderLog_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TASOrderLog_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TASOrderLog_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "TASOrder"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/TASOrderLog_Cloud1')]",
				"[concat(variables('factoryId'), '/pipelines/TASOrderLog_Cloud2')]",
				"[concat(variables('factoryId'), '/pipelines/TASOrderLog_Cloud3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASFileProcessed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "spGetAutoOrderFileList_Cloud1_Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetAutoOrderFileList]",
								"storedProcedureParameters": {
									"CloudId": {
										"type": "Int32",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_TAS_tmpLeapDataLoadDPSR",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Cloud1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "spGetAutoOrderFileList_Cloud1_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('spGetAutoOrderFileList_Cloud1_Lookup').output.value\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Cloud1OrderFilesMetaData",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "bCheckIFFileExistsCloud1Default",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3TASOrderDataSet_Cloud1_Folder",
											"type": "DatasetReference",
											"parameters": {
												"Directory": "LEAP/Cloud1/Upload"
											}
										},
										"fieldList": [
											"childItems",
											"itemName",
											"lastModified"
										],
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "bCheckIFFileExistsCloud1Default",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "bCheckIFFileExists_Cloud2",
										"value": {
											"value": "@bool(0)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "bCheckIFFileExistsCloud1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Cloud1OrderFilesMetaData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "bCheckIFFileExists_Cloud2",
										"value": {
											"value": "@bool(startswith(item().FileSName,string(activity('Cloud1OrderFilesMetaData').output.childItems)))\n\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If File Exists Cloud1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "bCheckIFFileExistsCloud1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@variables('bCheckIFFileExists')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "spMarkAutoDownloadOrderFileProcessed",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[spMarkAutoDownloadOrderFileProcessed]",
													"storedProcedureParameters": {
														"TrnsCycleId": {
															"value": {
																"value": "@item().TrnsCycleId",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "TASDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "spGetAutoOrderFileList_Cloud2_Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetAutoOrderFileList]",
								"storedProcedureParameters": {
									"CloudId": {
										"type": "Int32",
										"value": "2"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_TAS_tmpLeapDataLoadDPSR",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Cloud2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "spGetAutoOrderFileList_Cloud2_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('spGetAutoOrderFileList_Cloud2_Lookup').output.value\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Cloud2OrderFilesMetaData",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "bCheckIFFileExistsCloud2Default",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3TASOrderDataSet_Cloud2_Folder",
											"type": "DatasetReference",
											"parameters": {
												"Directory": "LEAP/Cloud2/Upload"
											}
										},
										"fieldList": [
											"childItems",
											"itemName",
											"lastModified"
										],
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "bCheckIFFileExistsCloud2Default",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "bCheckIFFileExists_Cloud2",
										"value": {
											"value": "@bool(0)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "bCheckIFFileExistsCloud2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Cloud2OrderFilesMetaData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "bCheckIFFileExists_Cloud2",
										"value": {
											"value": "@bool(startswith(item().FileSName,string(activity('Cloud2OrderFilesMetaData').output.childItems)))\n\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If File Exists Cloud2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "bCheckIFFileExistsCloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@variables('bCheckIFFileExists_Cloud2')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "spMarkAutoDownloadOrderFileProcessed_Cloud2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[spMarkAutoDownloadOrderFileProcessed]",
													"storedProcedureParameters": {
														"TrnsCycleId": {
															"value": {
																"value": "@item().TrnsCycleId",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "TASDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "spGetAutoOrderFileList_Cloud3_Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetAutoOrderFileList]",
								"storedProcedureParameters": {
									"CloudId": {
										"type": "Int32",
										"value": "3"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_TAS_tmpLeapDataLoadDPSR",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Cloud3",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "spGetAutoOrderFileList_Cloud3_Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('spGetAutoOrderFileList_Cloud3_Lookup').output.value\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Cloud3OrderFilesMetaData",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "bCheckIFFileExistsCloud3Default",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3TASOrderDataSet_Cloud3_Folder",
											"type": "DatasetReference",
											"parameters": {
												"Directory": "LEAP/Cloud3/Upload"
											}
										},
										"fieldList": [
											"childItems",
											"itemName",
											"lastModified"
										],
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "bCheckIFFileExistsCloud3Default",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "bCheckIFFileExists_Cloud3",
										"value": {
											"value": "@bool(0)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "bCheckIFFileExistsCloud3",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Cloud3OrderFilesMetaData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "bCheckIFFileExists_Cloud3",
										"value": {
											"value": "@bool(startswith(item().FileSName,string(activity('Cloud3OrderFilesMetaData').output.childItems)))\n\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If File Exists Cloud3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "bCheckIFFileExistsCloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@variables('bCheckIFFileExists_Cloud3')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "spMarkAutoDownloadOrderFileProcessed_Cloud3",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[spMarkAutoDownloadOrderFileProcessed]",
													"storedProcedureParameters": {
														"TrnsCycleId": {
															"value": {
																"value": "@item().TrnsCycleId",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "TASDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"variables": {
					"bCheckIFFileExists": {
						"type": "Boolean"
					},
					"bCheckIFFileExists_Cloud2": {
						"type": "Boolean"
					},
					"bCheckIFFileExists_Cloud3": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "TASOrder"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S3TASOrderDataSet_Cloud1_Folder')]",
				"[concat(variables('factoryId'), '/datasets/S3TASOrderDataSet_Cloud2_Folder')]",
				"[concat(variables('factoryId'), '/datasets/S3TASOrderDataSet_Cloud3_Folder')]"
			]
		}
	]
}