pipeline/CopyNCS_Staging-To-DB.json
{
	"name": "CopyNCS_Staging-To-DB",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NCSStorageSourceDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "SpFileEntry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpFileEntry]",
								"storedProcedureParameters": {
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileType": {
										"value": "2",
										"type": "Byte"
									},
									"LastModifiedDatetime": {
										"value": {
											"value": "@activity('GetFileList').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PnGDataFoundation",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Location master",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'Location'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "location master data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "Location*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "COUNTRYCODE",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "COUNTRYNAME",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "DIVISION",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "DISTRICT",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "SITECODE",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "SITENAME",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "BRANCHCODE",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "BRANCHNAME",
															"type": "String"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "TIMESTAMP",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "Status",
															"type": "Byte"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "BranchId",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "NCSCSV_1_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "LOCN_NCS_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": []
	}
}