pipeline/spLoadLeapTasIntegration.json
{
	"name": "spLoadLeapTasIntegration",
	"properties": {
		"description": "spLoadLeapTasIntegration",
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Lookup1').output.firstRow.tblFlagDataProcess)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecuteBeforeSp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "SpExecuteBeforeTransfer"
							},
							"linkedServiceName": {
								"referenceName": "PnGDataFoundation",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute Copy DF-To-TAS",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ExecuteBeforeSp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copytables-DF-TO-TAS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DFDBConnection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupAllFilesCome",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCheckLeapDataLoaded]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DFDBConnection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IsAllDataLoaded",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupAllFilesCome",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LoadLeapTasIntegration",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spLoadLeapTasIntegration]"
							},
							"linkedServiceName": {
								"referenceName": "PnGDataFoundation",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}